body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2{
    color:gray;
}
h1{
    border-bottom: 1px solid black;
}

p {
    color: maroon;
}

.drinks{
    font: size 15px;
    color:black;
    font-weight: bold;
    text-decoration: overline;
}

.alcodrinks{
    color: red;
}