@media (min-height: 481px), screen and (orientation: portrait) {
    #guarantee {
        margin: 30px;
        margin-right: 250px;
    }
    }
    @media (max-height: 480px), screen and (orientation: portrait) {
    #guarantee {
        margin: 30px;
    }
    }
body{
    font: small/1.6em Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2{
    color:#007e7e;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
#guarantee{
    border: 1px dashed white;
    padding: 25px;
    padding-left: 80px;
    background:  #a7cece url(images/star.png) no-repeat top left;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1.9em;
    color:#444;
}
#drinks{
    width: 20%;
    border: 1px solid #007e7e;
    padding: 30px;
    padding-top: 10px;
    line-height: 1;
    text-align: center;
    background: url(images/glassnew.png) repeat-x top;
    
}
#drinks h2{
    color:black; 
}
#drinks h3{
    color:red;
}
#footer{
    font-size: 60%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}
.cd{
    font-style: italic;
}
.artist{
    font-weight: bold;
}